spring:
  application:
    name: cafit
  profiles:
    active: dev
    include: secret

  # JPA ?? ??
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always